/* styles.css */

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(132deg, #000000, #011122,#192f5b, #26336a, #434593, #7871d6, #a57fda);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
}

.star {
    --star-color:white;
    margin: 50px 0;
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-bottom: 35px solid var(--star-color);
    border-left: 50px solid transparent;
    transform-origin: bottom center;
    transform: rotate(35deg) scale(0);
    animation: star 5s ease-in forwards infinite;
}

.star:before {
    border-bottom: 40px solid var(--star-color);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -23px;
    left: -33px;
    display: block;
    content:"";
    transform: rotate(-35deg);
}

.star:after {
    position: absolute;
    display: block;
    top: 2px;
    left: -53px;
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-bottom: 35px solid var(--star-color);
    border-left: 50px solid transparent;
    transform: rotate(-70deg);
    content:"";
}

.star:nth-child(2) {
    animation-delay: 2s;
    left: 20vw;
    top: 20vh;
}

.star:nth-child(3) {
    animation-delay: 4s;
    left: 60vw;
    top: 10vh;
}
  
.star:nth-child(4) {
    animation-delay: 6s;
    left: 80vw;
    top: 35vh;
}
  
.star:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 55vh;
}

.star:nth-child(6) {
    animation-delay: 10s;
    left: 40vw;
    top: 70vh;
}

.star:nth-child(7) {
    animation-delay: 12s;
    left: 70vw;
    top: 25vh;
}

.star:nth-child(8) {
    animation-delay: 14s;
    left: 30vw;
    top: 85vh;
}

.star:nth-child(9) {
    animation-delay: 16s;
    left: 50vw;
    top: 45vh;
}

.star:nth-child(10) {
    animation-delay: 18s;
    left: 90vw;
    top: 60vh;
}

/* Animate Background*/
@keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes star {
    from {
        transform: scale(0);
        opacity: 1;
      }
      to {
        transform: scale(0.5);
        opacity: 0;
      }
}

/* Footer Styles */
.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}